body {
  font-family: "Maven Pro", sans-serif;
  background: rgba(252, 231, 193, 0.582);
}

.section-City {
  margin-top: 10px;
}

/* ____________SECTION SEARCH__________________________ */
/*_____________________________________________________*/

.App-contenedor {
  background: rgb(183, 210, 236) 90.2%;
  width: 680px;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 100px;
  margin-left: 320px;
  display: block;
  border: 1px white solid;
  box-shadow: 10px 10px 10px rgba(121, 121, 121, 0.281);
}

.section-search {
  margin-top: 10px;
}

.inputsearch {
  background: rgba(207, 207, 207, 0.233);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px 0px 0px 10px;
  border-top: 2px solid rgba(255, 255, 255, 0.521);
  border-left: 2px solid rgba(255, 255, 255, 0.521);
  border-right: none;
  border-bottom: none;
  padding: 6px;
  box-shadow: 1px 3px 3px rgba(110, 110, 110, 0.219);
  outline: none;
  font-size: 15px;
  margin-left: 20px;
}

.inputbutton {
  background: rgba(207, 207, 207, 0.233);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0px 10px 10px 0px;
  border-top: 2px solid rgba(255, 255, 255, 0.521);
  border-left: 2px solid rgba(255, 255, 255, 0.521);
  border-right: none;
  border-bottom: none;
  padding: 5px;
  margin-left: 5px;
  box-shadow: 1px 3px 1px rgba(124, 124, 124, 0.267);
  outline: none;
}

.inputbutton:hover {
  background: rgba(255, 255, 255, 0.233);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.div1 {
  margin-left: 20px;
}

/* ____________SECTION CITY____________________________ */
/*_____________________________________________________*/
.tit-city {
  background: none;
  color: rgb(66, 66, 66);
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  padding: none;
  display: flex;
  flex: start;
  border: none;
}

.section-humiditywind {
  margin-left: 20px;
  margin-right: 60px;
  /*border: 1px solid gray;*/
}

.humedad {
  margin-top: 5px;
}

.clima2,
.clima3 {
  font-size: 12px;
  font-weight: lighter;
  margin-top: -5px;
}

.humity1,
.humity2 {
  font-size: 12px;
  font-weight: lighter;
}

.humity2 {
  margin-top: -5px;
}

/* ____________SECTION TEMP____________________________ */
/*_____________________________________________________*/

.section-temp {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  /*border: 1px solid gray;*/
}

.temperature {
  background: none;
  color: rgb(66, 66, 66);
  font-size: 110px;
  font-weight: bold;
  margin-left: -20px;
  /*border: 1px solid gray;*/
}

.units {
  margin-top: 100px;
  margin-left: -270px;
  /*border: 1px solid gray;*/
}

.celsius,
.fahrenheit {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 22px;
  font-weight: bold;
}

/* ____________SECTION BUTTONS_________________________ */
/*_____________________________________________________*/
.buttonbogota,
.buttonparis,
.buttonnewyork,
.buttoncurrent {
  background: rgba(224, 224, 224, 0.233);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 2px solid rgba(255, 255, 255, 0.521);
  border-left: 2px solid rgba(255, 255, 255, 0.521);
  border-bottom: none;
  border-right: none;
  box-shadow: 3px 7px 6px rgba(124, 124, 124, 0.267);
  position: relative;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 1px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  font-size: 12px;
  color: rgb(66, 66, 66);
  font-weight: bold;
}

.buttonbogota:hover,
.buttonparis:hover,
.buttonnewyork:hover,
.buttoncurrent:hover {
  background: rgba(255, 255, 255, 0.397);
}

/* ____________FOOTER---------_________________________ */
/*_____________________________________________________*/
.footer {
  font-size: 14px;
  margin-top: 10px;
  margin-left: -50px;
  text-align: center;
}
